[config]
decomposed_dir = ./decomposed_dir/ 
output_dir = ./output_dir/
framework = tensorflow,caffe,sensetime,ncnn,mace,mxnet,uls,other
ncpu = 8 
max_func_num = 50

[script]
top = ./intercept_scripts/intercept_template_top.js
bottom = ./intercept_scripts/intercept_template_bottom.js
shell_top = ./intercept_scripts/shell_template_top.sh
shell_mid = ./intercept_scripts/shell_template_mid.sh
analyzer_path = ./modelanalyzer/
analyzer_list = header.sh,extractpb.sh,hexdumper.sh,hexdumperraw.sh 

[model_pattern]
suffix = pb,model,bin,rf,tflite,param,proto,androidmodel,rpnmodel,prototxt,pbtxt,caffemodel,caffe,modle,lite,ckpt,tensorflow,dlc,params,tfl
keywords = model,uls,detection,recognition,tracker,detect,trained
ex_suffix = jpg,json,xml,png,label,ttf,gif,glsl,tsv,webp

[lib_pattern]
keywords = tf,tensorflow,caffe,cnn,uls,sensetime,st_mobile

[symbol_pattern]
keywords = tensorflow,cnn,sensetime,caffe

[function_pattern]
magic_str = free 
filter_str = free_exception,free_dependent_exception 

[free_pattern]
magic_str = decrypt,init,load,model,start,create

[tensorflow]
magic_str = tensorflow 

[caffe]
magic_str = caffe 

[sensetime]
magic_str = sensetime,st_mobile

[ncnn]
magic_str = ncnn

[mace]
magic_str = libmace,mace_input_node

[mxnet]
magic_str = mxnet

[uls]
magic_str = ulsTracker,ulsface 

[other]
magic_str = neuralnetwork,lstm,cnn,rnn
